.footer {
    width: 96%;
    height: 2%;
    padding: 2%;
    background-color: lightgray;
    
    font-weight: bold;
    font-size: 17px;
    color:darkgrey
  }
  
  .footerButton {
    font-weight: bold;
    font-size: 17px;
    color:darkgrey
  }