@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

.header {
  min-width: 800px;
  background-color: white;
  position: sticky;
  top: -9vh;
  z-index: 100;
}

.upperheader {
  display: flex;
  flex-direction: row;
  height: 9vh;
  justify-content: space-between;
}

.upperheader_logoBox {
  padding: 0 50px;
  height: 55%;
  margin: auto 0;
  align-items: center;
}

.upperheader_logo {
  height: 100%;
  margin: auto auto;
  cursor: pointer;
}

.upperheader_featureList {
  height: 50%;
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  margin: auto 30px;
}

.upperheader_featureList li {
  padding: 0 15px 0 0;
  cursor: pointer;
  font-size: 12px;
}

.upperheader_featureList li a{
  color: black;
  transition: 0.2s ease-in-out;
}


.upperheader_featureList li a:hover{
  color: lightgray;
  transition: 0.2s ease-in-out;
}

/* mainheader */
.mainheader {
  position: sticky;
  top: 0;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.navBar {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  margin: 0 0 0 30px;
}

.navBar li {
  padding: 0 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
}

.navBar li a{
  color: black;
  transition: 0.2s ease-in-out;
 
}

.navBar li a:hover {
  color: yellowgreen;
  transition: 0.2s ease-in-out;
}

.SearchBox {
  height: 50%;
  background-color: lightgray;
  border-radius: 100px;
  width: 35%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px 0 0;
}

.SearchInput {
  width: 80%;
  height: 80%;
  background: none;
  border: 0;
  padding: 0 10px 0 20px;
}

.SearchIcon {
  height: 70%;
  cursor: pointer;
  padding: 0 10px;
}

