.searchResultBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
    padding: 3vh 0 3vh 46px;
    min-width: 500px;
    min-height: 50px;
}

.searchKey{
    margin: 0 0 1vh;
    text-align: start;
}

