.content1_random{
    padding: 8vh 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f3f9f0;
    overflow-x: auto;
}

.content_titleBox{
    width: 10%;
    min-width: 200px;
    font-weight: bold;
    font-size: 20px;
}
.content_title{
    font-size: 1.5em;
}
.content_title::after{
    display: block;
    content: '';
    width: 45px;
    height: 2px;
    background: #707070;
    margin: 18px 0;
}

.explain{
    color: gray;
    font-size: 15px;
    margin-top: 3vh;
    font-weight: 400;
}

.productBlocks4{
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    column-gap: 1vw;
    row-gap: 40px;
    grid-auto-rows: 350px;
    justify-content: space-evenly;
}

.productBlocks4>div{
    width: 100%;
    height:100%;
}

/* content2_recommend */
.content2_recommend{
    padding: 8vh 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    overflow-x: auto;
}