
.productBlock{
    background-color: white;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.23);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    height: 350px;
    width: 250px;
    margin: 20px 25px;
    border-radius: 30px;
    flex-basis: 250px;
    flex-grow: 1;
    /* overflow: hidden; */
    
}

.productA{
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
    outline: none;

}

.productInfoBlock{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.productImageBox{
    width: 200px;
    height: 200px;
    overflow:hidden;
}
.productImage{
    width: 200px;
    height: 200px;
    transition: all 0.3s ease-in-out;
}

.productBlock:hover .productImage{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.productBlock:hover{
    border-color:violet;
    transition: all 0.3s ease-in-out;
}

.productTextBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productName{
    font-weight: bold;
}
