body {
    background : #f6faf6;
}

.rating_form {
    /* position: relative; */
    right: -400px;
    width: 600px;
    height: 600px;
    top: 0px;
    vertical-align: auto;
    border: 3px solid #9DC92A;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    padding: 0px 0 20px 0;
    margin-left: 6rem;
}

.rating_heading {
    font-size: 24px;
    color: #323357;
    font-weight: 500;
    text-align: center;
}

#rate_button {
    align-items: center;
    background-color: yellowgreen;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1;
    margin: 175px;
    padding: 1rem 1.2rem;
    text-align: center;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    border: 0;
    touch-action: manipulation;
    right: 100px;

}

#rate_button:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

#cancel_button{
    align-items: center;
    background-color: whitesmoke;
    border-radius: 12px;
    color: #121212;
    cursor: pointer;
    font-size: 12px;
    line-height: 1;
    margin: 23px;
    padding: 10px 20px;
    text-align: center;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    border: 0;
    touch-action: manipulation;
    right: 100px;
}

#save_button{
    align-items: center;
    background-color: whitesmoke;
    border-radius: 12px;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    font-size: 12px;
    line-height: 1;
    margin: 20px;
    padding: 10px 20px;
    text-align: center;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    border: 0;
    touch-action: manipulation;
    right: 100px;
}