

body {
    background : #f5f8ff;
}

.rating_form {
    position: absolute;
    right: 250px;
    width: 500px;
    height: 400px;
    top: 20px;
    vertical-align: auto;
    border: 3px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    padding: 0px 0 20px 0;
}

.rating_heading {
    font-size: 24px;
    color: #323357;
    font-family: "Muli";
    font-weight: 500;
    text-align: center;
    margin: 28px 0; 
}

#rate_button {
    align-items: center;
    background-color: yellowgreen;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1;
    margin: 150px;
    padding: 1rem 1.2rem;
    text-align: center;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    border: 0;
    touch-action: manipulation;
    right: 100px;

}

#rate_button:hover {
    box-shadow: #121212 0 0 0 2px, transparent 0 0 0 0;
}

#cancel_button{
    align-items: center;
    background-color: whitesmoke;
    border-radius: 12px;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 12px;
    line-height: 1;
    margin: 10px;
    padding: 5px 10px;
    text-align: center;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    border: 0;
    touch-action: manipulation;
    right: 100px;
}

#save_button{
    align-items: center;
    background-color: whitesmoke;
    border-radius: 12px;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 12px;
    line-height: 1;
    margin: 10px;
    padding: 5px 10px;
    text-align: center;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    border: 0;
    touch-action: manipulation;
    right: 100px;

}