.MyPage{
    display: row;
}

/* oo님의 마이페이지 */
.MyPageTitle{
    padding:3rem;
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: #b7d5ac;
    box-shadow: 2px 5px 8px 2px #dadce0;
    font-size:2rem;
    font-weight: bold;
}


/* oo님이 평가한 제품(N)*/
.ratedProducts{
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    border-bottom: 5px solid #f1f3f5;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;  

    font-size: 0.8rem;
}
.ratedProducts h1{
    background-color: #f1f3f5;
    padding: 2rem;
    margin-bottom: 1rem;
}

.alert_no_ratedProduct{
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 3rem; 
    font-size: 1rem;
}

/* 평가한 리뷰 (MJ 수정) */
.productBlocks_myPage{
    display: flex;
    overflow-x: auto;
    width: 95%;
    margin-bottom: 2rem;
    padding: 0 2% 0 3%;
}

.productBlocks_myPage::-webkit-scrollbar{
    background-color: #f1f3f5;
}
.productBlocks_myPage::-webkit-scrollbar-thumb {
    background-color: rgba(43, 104, 66, 0.502);
}

.productBlocks_myPage>div{
    padding-right: 20px;
    padding-bottom: 15px;
    width: 100%;
    height: 100%;
}

/* oo님이 좋아요한 리뷰(N)*/
.likedComments{
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    border-bottom: 5px solid #f1f3f5;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;  
    font-size: 0.8rem;
}
.likedComments h1{
    background-color: #f1f3f5;
    padding: 2rem;
    margin-bottom: 1rem;
}

.alert_no_likedComment{
    margin-left: 0.6rem;
    margin-bottom: 3rem; 
    font-size: 1rem;
}


/* oo님이 좋아요한 리뷰(MJ 수정)*/
.likedComments>div{
    /* Comments */
    display: flex;
    overflow-x: auto;
    width: 95%;
    margin-bottom: 2rem;
    padding: 0 2% 0 3%;
}
.likedComments>div::-webkit-scrollbar {
    /* Comments */
    background-color: #f1f3f5;
}
.likedComments>div::-webkit-scrollbar-thumb{
    background-color: rgba(43, 104, 66, 0.502);
}


.likedComments>div>div{
    /* CommentBlock */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 15px;
    width: 200px;
    height: 100%;
}
.likedComments>div>div>div:nth-child(2){
    display: flex;
    align-items: center;
    width: 86%;
    padding: 7px 7%;
    background-color: rgb(192 224 204);
    border-radius: 20px;
    overflow-y: auto;
    justify-content: center;
    margin-top: 10px;
    max-height: 100px;
}
.likedComments>div>div>div:nth-child(2)::-webkit-scrollbar{
    background-color: rgb(214 214 214, 0.5);
    border-radius: 10px;
    width: 3px;
}
.likedComments>div>div>div:nth-child(2)::-webkit-scrollbar-thumb{
    background-color: rgb(25, 83, 47, 0.5);
    width: 3px;
    border-radius: 100px;
    /* color: rgb(102, 135, 114); */
}
.likedComments>div>div>div:nth-child(2)::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 12px; 
}

.likedComments>div>div>div:nth-child(2)::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 12px;
}

/* 사용자 정보 수정하기 버튼 */
.modalOpenButton{
    align-items: center;
    padding:1rem;
    width: 20%;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
    
    font-size:1rem;
    font-weight: bold;

    border: 2px solid rgba(0, 0, 0, 0.23);
}

.modalOpenButton:hover{
    background-color: #b7d5ac;
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}

/* pop-up page */
.modal{
    position:fixed;
    width: 100%;
    border-radius: 0.3rem;
    background-color: rgba(128, 128, 128, .7);
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 1s;
}