.Review {
  border-top: 3px solid #f1f3f5;
  padding: 0.5rem;
  display: row;
  align-items: left;
  display: flex;
  transition: all 0.15s;
}

.Review .review_user_id{
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 0.6rem;
  display: table-header-group;
  align-items: left; 
  transition: all 0.15s;
}

.Review .review_totalScore{
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 0rem;
  display: table-header-group;
  align-items: left; 
  margin-left: 2rem;
  transition: all 0.15s;
}

.Review .review_comment{
  padding: rem;
  font-weight: 100;
  display:  row;
  text-align: left;
  transition: all 0.15s;
  margin-left: 3.5rem;
  margin-bottom: 1rem;
}

.Review .like_button{
  text-align: right;
  margin-right: 2rem;
}

.Review .like_button_on {
  font-size: 1rem;
  line-height: 1rem;
  text-align: right;
  color: red; 
  font-weight: 0;
}

.Review .like_button_off {
  font-size: 1rem;
  line-height: 1rem;
  text-align: right;
  color: red; 
  font-weight: 0;
}