.Review {
  padding: 1rem;
  display: row;
  justify-content:space-between;
  border-bottom: 3px solid #f1f3f5;
}


.review_picture_except{
  display:flex;
  justify-content:space-between;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.review_button_except{
  margin-top: 1rem;
  display: flex;
}

.review_date{
  width: 7.5rem;
  margin-left: 0.5rem;

  align-items: left; 

  font-weight: 400;
}

.review_username{
  width: 7rem;
  margin-left: 2.0rem;

  align-items: left; 

  font-weight: 400;
}

.review_totalScore{
  display:  flex;
  margin-left: 2rem;

  font-weight: 400;
}

.review_comment{
  display:  row;
  margin-left: 3.5rem;
  max-width: 26rem;

  text-align: left;
}

/* toggle-button + likedCount + like-button */
.like_set{
  display: flex;
  min-width: 0rem;

  font-size: 1.2rem;
  font-weight: 100;
}

.toggle_picture{
  margin-right: 1rem;
  margin-top:0.9rem;
}

/* picture under comment */

.picture_box{
  background-color: #f1f3f5;
  
}
.review_picture {
  width: 30%;
  height:70%;
  margin-top: 2rem;
  margin-left: 24rem;
  margin-bottom:2rem;
  border-radius: 3rem;
}

.toggle_button:hover {
  border-bottom: 1px solid black;
}

.likedCount{
  min-width: 1rem;
  margin-top: 1rem;
}

.like_button{
  cursor: pointer;
  display: right;
  line-height: 1;
  margin-top:0.7rem;
  margin-left : 0.3rem;
  margin-right : 3.1rem;

  font-size: 2rem;
  touch-action: manipulation;
}

.like_button:hover {
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
}
