/*
transition: box-shadow .2s, -webkit-box-shadow .2s;
box-shadow: transparent 0 0 0 2px, rgba(18, 18, 18, .1) 0 6px 20px;
font-family: Inter, sans-serif;

.like_button:hover {
  box-shadow: black 0 0 0 1px, transparent 0 0 0 0;
}


*/

.Review {
  border-top: 3px solid #f1f3f5;
  padding: 0.5rem;
  display: flex;
  transition: all 0.15s;
  justify-content:space-between;
}

.review_button_except{
  display: flex;
}

.review_user_username{
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 0.6rem;
  display: table-header-group;
  align-items: left; 
  transition: all 0.15s;
}

.review_totalScore{
  font-size: 1.1rem;
  font-weight: 400;
  display:  flex;
  align-items: left; 
  margin-left: 2rem;
  text-decoration: #121212;
  transition: all 0.15s;
}

.review_comment{
  padding: 0rem;
  font-weight: 100;
  display:  row;
  text-align: left;
  transition: all 0.15s;
  margin-left: 3.5rem;
  margin-bottom: 1rem;
}

.like_button{
  border-radius: 100px;
  
  color: #121212;
  cursor: pointer;
  display: right;
  font-size: 2rem;
  font-weight: 0;
  line-height: 1;
  padding: 0.5rem;
  margin-right : 3.1rem;
  border: 0;
  touch-action: manipulation;
}


.review_totalScore .blank{
  color: white;
}
.like_button:hover {
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
}



  



