/*justify-content:space-between


*/


.Review {
  border-top: 3px solid #f1f3f5;
  padding: 1rem;
  display: row;
  transition: all 0.15s;
}
.review_picutre_except{
  display:flex;
  justify-content:space-between;
}

.review_button_except{
  display: flex;
}
.review_date{
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 0.5rem;
  display: table-header-group;
  align-items: left; 
  transition: all 0.15s;
}

.review_username{
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 2.0rem;
  display: table-header-group;
  align-items: left; 
}

.review_totalScore{
  font-size: 1.5rem;
  font-weight: 400;
  display:  flex;
  margin-left: 2rem;
}

.review_comment{
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: 100;
  display:  row;
  text-align: left;
  margin-left: 3.5rem;
}

.like_set{
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: 100;
  display: flex;
  margin-bottom: 1rem;
}

.like_button{
  cursor: pointer;
  display: right;
  font-size: 2rem;
  font-weight: 0;
  line-height: 1;
  margin-left : 0.3rem;
  margin-right : 3.1rem;
  touch-action: manipulation;
}


.review_totalScore .blank{
  color: white;
}
.like_button:hover {
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
}

.review_picture {
  display: row;
}



  



