.productDetailPage{
    display: row;
}

.productRate{
    display:flex;
    margin-top: 5rem; 
}

.productRate .productblock{
    display: row;
    width: 420px;
    height: 550px;
    margin-top:5px;
    margin-left:5rem;
    background-color: white;
    text-align-last: center;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;  
}
.productRate .ratingform{
    margin-left:1rem;
}

.productImage{
    margin-top:3rem;
}

.productblock_detail{
    margin-top: 3rem;
    margin-left:2.1rem;
    max-width: 18rem;
    border: 3px solid #f6faf6;
    padding:2rem;
}




