/*box-shadow: 0 3px 9px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);그림자 */ 

.TotalScoreList {
  background: white;
  width: 1100px;
  margin: auto; 
  margin-top: 5rem;
  margin-bottom: 5rem;
  border: 3px solid #9DC92A;
  border-radius: 20px;
  box-shadow: 0 3px 9px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.TotalScoreList .title {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 400;
  background:#9DC92A;
  color: black;
  border-radius: 10px;
}

.TotalScoreList .total {
  padding: 1rem;
  margin-left: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  border-radius: 10px;
}

.TotalScoreList .view {
  padding: 0rem;
  margin-left: 2rem;
  font-size: 1rem;
  text-align: left;
  font-weight: 400;
  background: rgb(246, 249, 224);
  color: black;
}
