.TotalScore {
  border-right: 2px solid #f1f3f5;
  padding: 0.5rem;
  display: inline-flex;
  transition: all 0.15s;  
}
  
.totalScoreTitle{
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.1rem;
  margin-left: 2.1rem;
}

.totalScoreScore{
  font-size: 1.5rem;
  margin-left: 1rem;
  font-weight: 400;
  padding: 0.1rem;
  margin-right: 2.1rem;
}
  
