.TotalScore {
  padding: 0.5rem;
  display: inline-flex;
  transition: all 0.15s;  
}
  
.TotalScore .totalScoreTitle{
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.1rem;
  transition: all 0.15s;
  margin-left: 2.1rem;
}

.TotalScore .totalScoreScore{
  font-size: 1.1rem;
  margin-left: 1rem;
  font-weight: 400;
  padding: 0.1rem;
  transition: all 0.15s;
  margin-right: 2.1rem;
}
  
