.TotalScore {
  padding: 0.5rem;
  display: inline-flex;
  margin-bottom: 1.3rem;
}
  
.totalScoreTitle{
  padding: 0.1rem;
  margin-left: 2.1rem;

  font-weight: 400;
}

.totalScoreScore{
  padding: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;

  font-weight: 400;
}
  
