body {
    background-color: white;
}

.Login {

    align-items: center;
    text-align: center;
    
    
}



/* .signinText{
    font: white;
} */

.IDPassword{
    padding: 50px;
    background-color: rgb(157, 201, 42);
}


.inputID {
    justify-content: space-between;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 30px;
}


.inputPassword {

    width: 300px;
    height: 30px;

    border-radius: 5px;
    
    margin: 30px;
}
