@font-face {
    font-family: 'Pretendard-Regular';
    font-style: normal;
    src: url("/Users/jahyunyun/Desktop/2022-2/SoftwareDevelopment/LetmecuLocal/swppfall2022-team19/frontend/cu/src/fonts/Pretendard-Regular.ttf");
}

*{
    font-family: 'Pretendard-Regular'; 
}

.Login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(222, 222, 222, 0.909);
}

.loginWholeWrap{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 470px;
    margin: auto auto;
    padding: 3vh 50px;
    min-width: 300px;
    background-color: white;
    border-radius: 20px;
}

.LoginLogoBox{
    width: 50%;
    margin: 19% 10% 0;
}

.IDPassword{
    width: 100%;
    height: 40%;
    margin: 10% 0;
}

.IDBox{
    width: 100%;
    height: 40%;
    padding: 0 0 10%;
}

.spanIDDiv{
    font-size: large;
    margin: 0 0 8px;
    font-weight: bold;
}

.inputID{
    width: 100%;
    height: 50px;
    padding: 0 10px;
    font-size: 11px;
    line-height: 34px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    outline: none;
    border-radius: 30px;
}
.buttonBox{
    width: 100%;
    height: 20%;
}
.buttonBox>button{
    width: 100%;
    height: 6vh;
    margin: 0 0 1vh 0;
}
.buttonBox>button:first-child{
    border: 0;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(to left, rgb(173, 231, 146), rgb(110, 204, 175));
    color: white;
    font-size: 15px;
}
.buttonBox>button:last-child{
    width: 100%;
    border: 1px solid rgb(110, 204, 175);
    border-radius: 40px;
    color: rgb(110, 204, 175);
    font-size: 15px;
}

.CenterLogo{
    width: 100%;
}

