.surveyModal{
    width: 100vw;
    height: 100vh;
    display: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}



.SelectBoxModalwithButtons{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 470px;
    margin: auto auto;
    padding: 25vh 100px;
    background-color: white;  
}
.exitButton{
    width: 10%;
    height: 40px;
    font-weight: bold;
    margin-top:1.5rem;
    margin-left: 25rem;
    border: 2px solid black;
}

/* 사용자 정보를 입력하고 */
.introBoxModal h4{
    margin: 0 47px;
    margin-top: 0rem;
    font-size: 1.4rem;
}
/* 맞춤화된 제품을 추천받자! */
.introBoxModal h5{
    margin: 0 30px;
    font-size: 1.4rem;
}


/* 질문 */
.questionBoxModal h5{
    margin-top: 1.3rem;
    margin-left:1rem;
    font-size: 1rem;
    min-width: 350px;
}

/* 선택 박스 */
.questionBoxModal h6{
    margin: 15px;
    margin-bottom: 0rem;
    font-size: 1rem;
}

.closeButton{
    padding: 10px 0px 10px;
    width: 50%;
    height: 40px;
    margin-top: 2rem;
    margin-bottom: 7rem;
    font-weight: bold;

    border: 2px solid rgba(0, 0, 0, 0.23);
    background-color: gainsboro;
}

.closeButton:hover{
    background-color: #b7d5ac;
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}