.surveyModal{
    width: 100vw;
    height: 100vh;
    display: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.SelectBoxModal{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 470px;
    margin: auto auto;
    padding: 25vh 100px;
    background-color: white;    
}

/* 사용자 정보를 입력하고 맞춤화된 제품을 추천받자! */
.introBoxModal{
    margin: 0 15px;
    font-size: 1.4rem;
}


/* 질문 */
.questionBoxModal{
    margin-top: 4rem;
    font-size: 1.4rem;
    min-width: 300px;
}

/* 선택 박스 */
.questionBoxModal h6{
    margin: 15px;
    margin-bottom: 0.1rem;

}


.closeButton{
    padding: 20px 20px;
    width: 50%;
    height: 40px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-weight: bold;

    border: 2px solid rgba(0, 0, 0, 0.23);
    background-color: gainsboro;
}

.closeButton:hover{
    background-color: #b7d5ac;
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}