.productBlocks{
    
    display: flexbox;
    max-width: 100%;
    
    padding: 3%;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    flex-wrap: wrap;
    flex-direction:row;

    
    

}

.CategoryPage{

    
    width: 100%;
    flex-wrap: wrap;

}

.titles {
    margin: 10px;
    color: white;

}


.animated-title {
    background-color: rgb(157, 201, 42);
    border:solid;
    border-radius: 10px;
    border-color:  rgb(157, 201, 42); 
    width: 100%;
    height: 50px;
    overflow-x: hidden; overflow-y: hidden; }
.animated-title .titles {position: absolute;
     white-space: nowrap;
     
     will-change: transform;
     animation: marquee 20s linear infinite; }

@keyframes marquee {
  from { transform: translateX(1000%); }
  to { transform: translateX(-500%); }
}
@media (hover: hover) and (min-width: 700px){
.animated-title .content {-webkit-transform: translateY(calc(100% - 8rem)); 
    transform: translateY(calc(100% - 8rem));}
    }
