.ReviewList {
  background: white;
  width: 1100px;
  box-shadow: 0 3px 9px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
  margin: auto; 
  margin-bottom: 5rem;
  border: 3px solid #9DC92A;
  border-radius: 20px;
}

.ReviewList .likeButton {
  padding: 0.5rem;
  font-size: 1.5rem;
  margin-left: 32rem;
  font-weight: 400;
  background: rgb(246, 249, 224);
  color: black;
  border-radius: 10px;
}

.ReviewList .recentButton {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 2rem;
  background: rgb(246, 249, 224);
  color: black;
  border-radius: 10px;
}

.ReviewList .pictureButton {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 2rem;
  background: rgb(246, 249, 224);
  color: black;
  border-radius: 10px;
}



.ReviewList .title {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 400;
  background: yellowgreen;
  color: black;
  border-radius: 10px;
}

.ReviewList .fieldName {
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
  display: flex;
  font-weight: 400;
  background: rgb(246, 249, 224);
  color: black;
  border-radius: 20px;

}

.ReviewList .fieldName_date{
  padding: 0rem;
  margin-left: 0.8rem;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 400;
  background: rgb(246, 249, 224);
  color: black;
}
.ReviewList .fieldName_user{
  padding: 0rem;
  margin-left: 2.1rem;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 400;
  background: rgb(246, 249, 224);
  color: black;
}

.ReviewList .fieldName_totalScore {
  padding: 0rem;
  margin-left: 3.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  background: rgb(246, 249, 224);
  color: black;
}

.ReviewList .fieldName_comment {
  padding: 0rem;
  margin-left:12rem;
  font-size: 1.5rem;
  font-weight: 400;
  background: rgb(246, 249, 224);
  color: black;
}

.ReviewList .fieldName_like {
  padding: 0rem;
  margin-left: 21rem;
  font-size: 1.5rem;
  text-align: right;
  font-weight: 400;
  background: rgb(246, 249, 224);
  color: black;
}


.ReviewList .no_review{
  padding: 2rem;
  margin-left:2rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
}